* {
  /* font-family: "Roboto Condensed", Arial, Helvetica, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding-top: 87px;
  background: #f2f2f2;
}

section h3{
  margin-bottom: 36px
}
section{
  margin-bottom: 50px;
}

.about-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.navbar.lvly-nav .nav-link {
  padding: 22px;
  font-size: 18px;
}

.top-banner{
  overflow: hidden;
}

.sale-off {
  background-color: #444;
  color: #fff;
  line-height: 36px;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1.5px;
  margin-bottom: 0px;
}

.feature-desc {
  bottom: 36px;
}

.most-wanted .card {
  border: none;
  -webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow:  0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 0px;
}
.most-wanted .btn-lvly {
  margin: 5px 0
}
.btn-lvly {
  min-width: 120px;
  border-radius: 30px;
  border-color: transparent;
  padding: 0px 15px;
  background-color: rgb(34, 34, 34);
  color: #fff;
  font-size: 12px;
  height: 38px;
}

.testimonial{
  background: url(../img/ep_naturalblack.png);
  margin-bottom: 0px;
}

.testimonial-item{
  padding: 80px 0px;
}

.clients img{
  height: 60px;
}
.clients{
  background-color: #ffffff;
  padding: 60px 0px;
}

.view-all{
  margin-top: 36px
}

.social .fa{
  text-align: center;
  width: 42px;
  height: 42px;
  line-height: 42px;
  border-radius: 50%;
  background: #000;
  color: #fff;
  font-size: 18px;
}
.social{
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px 0px;
}

.contact-us{
  background: url(../img/roses-3638620_1920.jpg) no-repeat;
  background-size: cover;
}
.contact-us .overlay{
  padding: 80px 0;
}

.btn-subscribe{
  height: 42px;
  font-size: 14px;
}
.contact-header {
  margin: 0px;
  background: rgba(255,255,255,0.2);
  border-radius: 4px;
  padding: 20px 30px 10px;
  color: #fff
}